:root {
    --right_left: -35%;
    --top_bottom: -45%;
}
/*STYLES*/
.triangle_menu_element{
    position: fixed;
    display: block;
    width: 750px;
    height: 750px;
    background: rgb(0, 0, 0);
    transform: rotate(45deg);
}
.triangle_right_top {
    right: var(--right_left);
    top: var(--top_bottom);
}
.triangle_right_bottom {
    right: var(--right_left);
    bottom: var(--top_bottom);
}
.triangle_left_bottom {
    left: var(--right_left);
    bottom: var(--top_bottom);
}
.triangle_left_top {
    left: var(--right_left);
    top: var(--top_bottom);
}
/*HOVER*/
.triangle_right_top:hover{
    right: -25%;
}
.triangle_left_top:hover {
    left: -25%;
}
.triangle_right_bottom:hover {
    right: -25%;
}
.triangle_left_bottom:hover {
    left: -25%;
}